<% include ../inc/header %>

<form method="POST" action="/user/write">
    <div>
        <h2>회원등록</h2>
        
        <dl>
            <dt>이름</dt>
            <dd><input type="text" name="name" value=""></dd>
        </dl>

        <dl>
            <dt>아이디</dt>
            <dd><input type="text" name="data" value=""></dd>
        </dl>
        <dl>
            <dd><input type="submit" value="저장"></dd>
        </dl>

    </div>
</form>